/* How it Works */
.how-it-works {
  padding: 80px 0;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  position: relative;
}

.how-it-works__container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.how-it-works__step-desc {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.how-it-works__step:hover .how-it-works__step-desc { opacity: 1; }



.how-it-works__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.how-it-works__step {
  width: calc(33.33% - 20px);
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.how-it-works__step::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}

.how-it-works__step-img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: step-img-animation 2s ease-in-out infinite;
}

@keyframes step-img-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.how-it-works__step-img img {
  width: 60px;
  height: 60px;
}

.how-it-works__step-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.how-it-works__step-desc {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
